

@font-face {
  font-family: 'Shabnam';
  src: url('/fonts/shabnam/Farsi-Digits/Shabnam-Thin-FD.woff') format('woff');
  src: url('/fonts/shabnam/Farsi-Digits/Shabnam-Thin-FD.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Shabnam';
  src: url('/fonts/shabnam/Farsi-Digits/Shabnam-Light-FD.woff') format('woff');
  src: url('/fonts/shabnam/Farsi-Digits/Shabnam-Light-FD.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;

}

@font-face {
  font-family: 'Shabnam';
  src: url('/fonts/shabnam/Farsi-Digits/Shabnam-Medium-FD.woff') format('woff');
  src: url('/fonts/shabnam/Farsi-Digits/Shabnam-Medium-FD.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Shabnam';
  src: url('/fonts/shabnam/Farsi-Digits/Shabnam-Bold-FD.woff') format('woff');
  src: url('/fonts/shabnam/Farsi-Digits/Shabnam-Bold-FD.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Shabnam', sans-serif;
}

p{
  line-height: 1.75rem !important;
}
.font-100 {
  font-weight: 100 !important;
}

.font-300 {
  font-weight: 300 !important;
}

.font-500 {
  font-weight: 500 !important;
}

.font-700 {
  font-weight: 700 !important;
}